@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* ====================================================================================== */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h2 {
	font-weight: inherit;
	font-size: inherit;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: cover;
}

/* ====================================================================================== */

:root {
	/* Colors */
	--color-white: hsl(0, 0%, 100%);
	--color-slate-300: hsl(212, 45%, 89%);
	--color-slate-500: hsl(216, 15%, 48%);
	--color-slate-900: hsl(218, 44%, 22%);
	/* Typography */
	--font-main: "Outfit", sans-serif;
}

/* ====================================================================================== */

body {
	font-family: var(--font-main);
	font-feature-settings:
		"liga" off,
		"clig" off;
	color: var(--color-slate-500);
	font-size: 15px;
	line-height: 1;
	background-color: var(--color-slate-300);
}
.wrapper {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: 15px;
}
main {
	/* flex: 1 1 auto; */
	margin: auto;
}
.card {
	max-width: 320px;
}
.card__body {
	background-color: var(--color-white);
	padding: 16px 16px 40px;
	border-radius: 20px;
}
.card__image img {
	border-radius: 10px;
}
.card__image:not(:last-child) {
	margin-bottom: 24px;
}
.card__content {
	display: grid;
	row-gap: 16px;
	text-align: center;
	padding-inline: 16px;
}
.card__title {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
	color: var(--color-slate-900);
}
.card__text {
	line-height: 1.4;
	letter-spacing: 0.2px;
}
.attribution {
	/* margin-top: auto; */
	padding-block: 15px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	transition: text-decoration 0.4s;
}
.attribution a:hover {
	text-decoration: underline;
}
